.card {
    width: 100%;

    text-align: center;

    display: grid;
    grid-gap: 20px;
}

.cardImage {
    width: 100%;
    max-width: 600px;

    height: 300px;

    position: relative;

    border-radius: 5px;

    overflow: hidden;
}
